openapi: 3.0.3
info:
  title: Hala Job API
  version: 1.0.0
  description: Generated route-level OpenAPI skeleton. Add schemas/examples before treating as complete.
servers:
  - url: https://jobzain.com
    description: Production/API base
  - url: http://localhost:3000
    description: Local backend
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  "/admin/v1/trust/jobs/{jobId}/mark-safe":
    patch:
      tags: ["Admin"]
      summary: "PATCH /admin/v1/trust/jobs/:jobId/mark-safe"
      operationId: "admin_patch_admin_v1_trust_jobs_jobid_mark_safe"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    post:
      tags: ["Admin"]
      summary: "POST /admin/v1/trust/jobs/:jobId/mark-safe"
      operationId: "admin_post_admin_v1_trust_jobs_jobid_mark_safe"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/admin/v1/trust/jobs/{jobId}/request-documents":
    patch:
      tags: ["Admin"]
      summary: "PATCH /admin/v1/trust/jobs/:jobId/request-documents"
      operationId: "admin_patch_admin_v1_trust_jobs_jobid_request_documents"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    post:
      tags: ["Admin"]
      summary: "POST /admin/v1/trust/jobs/:jobId/request-documents"
      operationId: "admin_post_admin_v1_trust_jobs_jobid_request_documents"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/admin/v1/trust/jobs/{jobId}/suspend":
    patch:
      tags: ["Admin"]
      summary: "PATCH /admin/v1/trust/jobs/:jobId/suspend"
      operationId: "admin_patch_admin_v1_trust_jobs_jobid_suspend"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    post:
      tags: ["Admin"]
      summary: "POST /admin/v1/trust/jobs/:jobId/suspend"
      operationId: "admin_post_admin_v1_trust_jobs_jobid_suspend"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/admin/v1/trust/review-queue":
    get:
      tags: ["Admin"]
      summary: "GET /admin/v1/trust/review-queue"
      operationId: "admin_get_admin_v1_trust_review_queue"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/ai/v1/career-passport/score":
    post:
      tags: ["AI"]
      summary: "POST /ai/v1/career-passport/score"
      operationId: "ai_post_ai_v1_career_passport_score"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/ai/v1/career/copilot":
    post:
      tags: ["AI"]
      summary: "POST /ai/v1/career/copilot"
      operationId: "ai_post_ai_v1_career_copilot"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/ai/v1/company/jobs/{jobId}/shortlist":
    post:
      tags: ["AI"]
      summary: "POST /ai/v1/company/jobs/:jobId/shortlist"
      operationId: "ai_post_ai_v1_company_jobs_jobid_shortlist"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/ai/v1/company/jobs/generate":
    post:
      tags: ["AI"]
      summary: "POST /ai/v1/company/jobs/generate"
      operationId: "ai_post_ai_v1_company_jobs_generate"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/ai/v1/company/messages/generate":
    post:
      tags: ["AI"]
      summary: "POST /ai/v1/company/messages/generate"
      operationId: "ai_post_ai_v1_company_messages_generate"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/ai/v1/cv/rewrite":
    post:
      tags: ["AI"]
      summary: "POST /ai/v1/cv/rewrite"
      operationId: "ai_post_ai_v1_cv_rewrite"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/ai/v1/interview/practice":
    post:
      tags: ["AI"]
      summary: "POST /ai/v1/interview/practice"
      operationId: "ai_post_ai_v1_interview_practice"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/ai/v1/jobs/{jobId}/cover-letter":
    post:
      tags: ["AI"]
      summary: "POST /ai/v1/jobs/:jobId/cover-letter"
      operationId: "ai_post_ai_v1_jobs_jobid_cover_letter"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/ai/v1/jobs/{jobId}/match":
    post:
      tags: ["AI"]
      summary: "POST /ai/v1/jobs/:jobId/match"
      operationId: "ai_post_ai_v1_jobs_jobid_match"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/ai/v1/profile/score":
    post:
      tags: ["AI"]
      summary: "POST /ai/v1/profile/score"
      operationId: "ai_post_ai_v1_profile_score"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/ai/v1/translate/cv":
    post:
      tags: ["AI"]
      summary: "POST /ai/v1/translate/cv"
      operationId: "ai_post_ai_v1_translate_cv"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/ai/v1/translate/job/{jobId}":
    post:
      tags: ["AI"]
      summary: "POST /ai/v1/translate/job/:jobId"
      operationId: "ai_post_ai_v1_translate_job_jobid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/analytics/v1/admin/cohorts":
    get:
      tags: ["Analytics"]
      summary: "GET /analytics/v1/admin/cohorts"
      operationId: "analytics_get_analytics_v1_admin_cohorts"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/analytics/v1/admin/summary":
    get:
      tags: ["Analytics"]
      summary: "GET /analytics/v1/admin/summary"
      operationId: "analytics_get_analytics_v1_admin_summary"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/analytics/v1/events":
    get:
      tags: ["Analytics"]
      summary: "GET /analytics/v1/events"
      operationId: "analytics_get_analytics_v1_events"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    post:
      tags: ["Analytics"]
      summary: "POST /analytics/v1/events"
      operationId: "analytics_post_analytics_v1_events"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/analytics/v1/track":
    post:
      tags: ["Analytics"]
      summary: "POST /analytics/v1/track"
      operationId: "analytics_post_analytics_v1_track"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/campus/v1/admin/members":
    get:
      tags: ["Campus"]
      summary: "GET /campus/v1/admin/members"
      operationId: "campus_get_campus_v1_admin_members"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    post:
      tags: ["Campus"]
      summary: "POST /campus/v1/admin/members"
      operationId: "campus_post_campus_v1_admin_members"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/campus/v1/admin/members/{memberId}":
    delete:
      tags: ["Campus"]
      summary: "DELETE /campus/v1/admin/members/:memberId"
      operationId: "campus_delete_campus_v1_admin_members_memberid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "memberId"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    patch:
      tags: ["Campus"]
      summary: "PATCH /campus/v1/admin/members/:memberId"
      operationId: "campus_patch_campus_v1_admin_members_memberid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "memberId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/campus/v1/admin/verifications":
    get:
      tags: ["Campus"]
      summary: "GET /campus/v1/admin/verifications"
      operationId: "campus_get_campus_v1_admin_verifications"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/campus/v1/admin/verifications/{id}/approve":
    post:
      tags: ["Campus"]
      summary: "POST /campus/v1/admin/verifications/:id/approve"
      operationId: "campus_post_campus_v1_admin_verifications_id_approve"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/campus/v1/admin/verifications/{id}/document":
    get:
      tags: ["Campus"]
      summary: "GET /campus/v1/admin/verifications/:id/document"
      operationId: "campus_get_campus_v1_admin_verifications_id_document"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/campus/v1/admin/verifications/{id}/reject":
    post:
      tags: ["Campus"]
      summary: "POST /campus/v1/admin/verifications/:id/reject"
      operationId: "campus_post_campus_v1_admin_verifications_id_reject"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/campus/v1/admin/verifications/{id}/request-info":
    post:
      tags: ["Campus"]
      summary: "POST /campus/v1/admin/verifications/:id/request-info"
      operationId: "campus_post_campus_v1_admin_verifications_id_request_info"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/campus/v1/student-verifications":
    post:
      tags: ["Campus"]
      summary: "POST /campus/v1/student-verifications"
      operationId: "campus_post_campus_v1_student_verifications"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/campus/v1/student-verifications/{id}/document":
    get:
      tags: ["Campus"]
      summary: "GET /campus/v1/student-verifications/:id/document"
      operationId: "campus_get_campus_v1_student_verifications_id_document"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/campus/v1/student-verifications/{id}/resubmit":
    post:
      tags: ["Campus"]
      summary: "POST /campus/v1/student-verifications/:id/resubmit"
      operationId: "campus_post_campus_v1_student_verifications_id_resubmit"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/campus/v1/student-verifications/me":
    get:
      tags: ["Campus"]
      summary: "GET /campus/v1/student-verifications/me"
      operationId: "campus_get_campus_v1_student_verifications_me"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/campus/v1/universities":
    get:
      tags: ["Campus"]
      summary: "GET /campus/v1/universities"
      operationId: "campus_get_campus_v1_universities"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
  "/campus/v1/universities/{id}/campuses":
    get:
      tags: ["Campus"]
      summary: "GET /campus/v1/universities/:id/campuses"
      operationId: "campus_get_campus_v1_universities_id_campuses"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      parameters:
        - name: "id"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
  "/campus/v1/verification/confirm-email":
    post:
      tags: ["Campus"]
      summary: "POST /campus/v1/verification/confirm-email"
      operationId: "campus_post_campus_v1_verification_confirm_email"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/campus/v1/verification/start":
    post:
      tags: ["Campus"]
      summary: "POST /campus/v1/verification/start"
      operationId: "campus_post_campus_v1_verification_start"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/campus/v1/verification/upload-document":
    post:
      tags: ["Campus"]
      summary: "POST /campus/v1/verification/upload-document"
      operationId: "campus_post_campus_v1_verification_upload_document"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/auth/login":
    post:
      tags: ["Company"]
      summary: "POST /company/v1/auth/login"
      operationId: "company_post_company_v1_auth_login"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
  "/company/v1/auth/logout":
    post:
      tags: ["Company"]
      summary: "POST /company/v1/auth/logout"
      operationId: "company_post_company_v1_auth_logout"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
  "/company/v1/campus/opportunities":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/campus/opportunities"
      operationId: "company_get_company_v1_campus_opportunities"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    post:
      tags: ["Company"]
      summary: "POST /company/v1/campus/opportunities"
      operationId: "company_post_company_v1_campus_opportunities"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/campus/overview":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/campus/overview"
      operationId: "company_get_company_v1_campus_overview"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/campus/partners":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/campus/partners"
      operationId: "company_get_company_v1_campus_partners"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    post:
      tags: ["Company"]
      summary: "POST /company/v1/campus/partners"
      operationId: "company_post_company_v1_campus_partners"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/campus/students":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/campus/students"
      operationId: "company_get_company_v1_campus_students"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global"
      operationId: "company_get_company_v1_global"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/analytics":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/analytics"
      operationId: "company_get_company_v1_global_analytics"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/analytics/applications":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/analytics/applications"
      operationId: "company_get_company_v1_global_analytics_applications"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/analytics/jobs":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/analytics/jobs"
      operationId: "company_get_company_v1_global_analytics_jobs"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/analytics/profile":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/analytics/profile"
      operationId: "company_get_company_v1_global_analytics_profile"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/applications":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/applications"
      operationId: "company_get_company_v1_global_applications"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/applications/{applicationId}":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/applications/:applicationId"
      operationId: "company_get_company_v1_global_applications_applicationid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "applicationId"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/applications/{applicationId}/audit-logs":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/applications/:applicationId/audit-logs"
      operationId: "company_get_company_v1_global_applications_applicationid_audit_logs"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "applicationId"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/applications/{applicationId}/note":
    post:
      tags: ["Company"]
      summary: "POST /company/v1/global/applications/:applicationId/note"
      operationId: "company_post_company_v1_global_applications_applicationid_note"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "applicationId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/applications/{applicationId}/rate":
    post:
      tags: ["Company"]
      summary: "POST /company/v1/global/applications/:applicationId/rate"
      operationId: "company_post_company_v1_global_applications_applicationid_rate"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "applicationId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/applications/{applicationId}/status":
    patch:
      tags: ["Company"]
      summary: "PATCH /company/v1/global/applications/:applicationId/status"
      operationId: "company_patch_company_v1_global_applications_applicationid_status"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "applicationId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/audit-logs":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/audit-logs"
      operationId: "company_get_company_v1_global_audit_logs"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/interviews":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/interviews"
      operationId: "company_get_company_v1_global_interviews"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    post:
      tags: ["Company"]
      summary: "POST /company/v1/global/interviews"
      operationId: "company_post_company_v1_global_interviews"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/interviews/{interviewId}":
    delete:
      tags: ["Company"]
      summary: "DELETE /company/v1/global/interviews/:interviewId"
      operationId: "company_delete_company_v1_global_interviews_interviewid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "interviewId"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    patch:
      tags: ["Company"]
      summary: "PATCH /company/v1/global/interviews/:interviewId"
      operationId: "company_patch_company_v1_global_interviews_interviewid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "interviewId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/jobs":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/jobs"
      operationId: "company_get_company_v1_global_jobs"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    post:
      tags: ["Company"]
      summary: "POST /company/v1/global/jobs"
      operationId: "company_post_company_v1_global_jobs"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/jobs/{jobId}":
    delete:
      tags: ["Company"]
      summary: "DELETE /company/v1/global/jobs/:jobId"
      operationId: "company_delete_company_v1_global_jobs_jobid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/jobs/:jobId"
      operationId: "company_get_company_v1_global_jobs_jobid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    patch:
      tags: ["Company"]
      summary: "PATCH /company/v1/global/jobs/:jobId"
      operationId: "company_patch_company_v1_global_jobs_jobid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    post:
      tags: ["Company"]
      summary: "POST /company/v1/global/jobs/:jobId"
      operationId: "company_post_company_v1_global_jobs_jobid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    put:
      tags: ["Company"]
      summary: "PUT /company/v1/global/jobs/:jobId"
      operationId: "company_put_company_v1_global_jobs_jobid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/jobs/{jobId}/applicants":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/jobs/:jobId/applicants"
      operationId: "company_get_company_v1_global_jobs_jobid_applicants"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/jobs/{jobId}/archive":
    patch:
      tags: ["Company"]
      summary: "PATCH /company/v1/global/jobs/:jobId/archive"
      operationId: "company_patch_company_v1_global_jobs_jobid_archive"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/jobs/{jobId}/audit-logs":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/jobs/:jobId/audit-logs"
      operationId: "company_get_company_v1_global_jobs_jobid_audit_logs"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/jobs/{jobId}/clone":
    post:
      tags: ["Company"]
      summary: "POST /company/v1/global/jobs/:jobId/clone"
      operationId: "company_post_company_v1_global_jobs_jobid_clone"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/jobs/{jobId}/pause":
    patch:
      tags: ["Company"]
      summary: "PATCH /company/v1/global/jobs/:jobId/pause"
      operationId: "company_patch_company_v1_global_jobs_jobid_pause"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/jobs/{jobId}/publish":
    patch:
      tags: ["Company"]
      summary: "PATCH /company/v1/global/jobs/:jobId/publish"
      operationId: "company_patch_company_v1_global_jobs_jobid_publish"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/jobs/{jobId}/recommended-employees":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/jobs/:jobId/recommended-employees"
      operationId: "company_get_company_v1_global_jobs_jobid_recommended_employees"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/jobs/{jobId}/restore":
    patch:
      tags: ["Company"]
      summary: "PATCH /company/v1/global/jobs/:jobId/restore"
      operationId: "company_patch_company_v1_global_jobs_jobid_restore"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/jobs/{jobId}/status":
    patch:
      tags: ["Company"]
      summary: "PATCH /company/v1/global/jobs/:jobId/status"
      operationId: "company_patch_company_v1_global_jobs_jobid_status"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "jobId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/jobs/bulk":
    patch:
      tags: ["Company"]
      summary: "PATCH /company/v1/global/jobs/bulk"
      operationId: "company_patch_company_v1_global_jobs_bulk"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/jobs/statistics":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/jobs/statistics"
      operationId: "company_get_company_v1_global_jobs_statistics"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/me/basic-profile":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/me/basic-profile"
      operationId: "company_get_company_v1_global_me_basic_profile"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    put:
      tags: ["Company"]
      summary: "PUT /company/v1/global/me/basic-profile"
      operationId: "company_put_company_v1_global_me_basic_profile"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/me/image":
    put:
      tags: ["Company"]
      summary: "PUT /company/v1/global/me/image"
      operationId: "company_put_company_v1_global_me_image"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/members":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/members"
      operationId: "company_get_company_v1_global_members"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    post:
      tags: ["Company"]
      summary: "POST /company/v1/global/members"
      operationId: "company_post_company_v1_global_members"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/members/{memberId}":
    delete:
      tags: ["Company"]
      summary: "DELETE /company/v1/global/members/:memberId"
      operationId: "company_delete_company_v1_global_members_memberid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "memberId"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    patch:
      tags: ["Company"]
      summary: "PATCH /company/v1/global/members/:memberId"
      operationId: "company_patch_company_v1_global_members_memberid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "memberId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/message-templates":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/message-templates"
      operationId: "company_get_company_v1_global_message_templates"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    post:
      tags: ["Company"]
      summary: "POST /company/v1/global/message-templates"
      operationId: "company_post_company_v1_global_message_templates"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/message-templates/{templateId}":
    delete:
      tags: ["Company"]
      summary: "DELETE /company/v1/global/message-templates/:templateId"
      operationId: "company_delete_company_v1_global_message_templates_templateid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "templateId"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    patch:
      tags: ["Company"]
      summary: "PATCH /company/v1/global/message-templates/:templateId"
      operationId: "company_patch_company_v1_global_message_templates_templateid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "templateId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/profile":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/profile"
      operationId: "company_get_company_v1_global_profile"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    put:
      tags: ["Company"]
      summary: "PUT /company/v1/global/profile"
      operationId: "company_put_company_v1_global_profile"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/profile/{section}":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/profile/:section"
      operationId: "company_get_company_v1_global_profile_section"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "section"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    post:
      tags: ["Company"]
      summary: "POST /company/v1/global/profile/:section"
      operationId: "company_post_company_v1_global_profile_section"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "section"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    put:
      tags: ["Company"]
      summary: "PUT /company/v1/global/profile/:section"
      operationId: "company_put_company_v1_global_profile_section"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "section"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/profile/{section}/{itemId}":
    delete:
      tags: ["Company"]
      summary: "DELETE /company/v1/global/profile/:section/:itemId"
      operationId: "company_delete_company_v1_global_profile_section_itemid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "section"
          in: path
          required: true
          schema:
            type: string
        - name: "itemId"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    patch:
      tags: ["Company"]
      summary: "PATCH /company/v1/global/profile/:section/:itemId"
      operationId: "company_patch_company_v1_global_profile_section_itemid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "section"
          in: path
          required: true
          schema:
            type: string
        - name: "itemId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/profile/about":
    put:
      tags: ["Company"]
      summary: "PUT /company/v1/global/profile/about"
      operationId: "company_put_company_v1_global_profile_about"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/profile/completion":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/profile/completion"
      operationId: "company_get_company_v1_global_profile_completion"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/profile/contact":
    put:
      tags: ["Company"]
      summary: "PUT /company/v1/global/profile/contact"
      operationId: "company_put_company_v1_global_profile_contact"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/profile/files":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/profile/files"
      operationId: "company_get_company_v1_global_profile_files"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    post:
      tags: ["Company"]
      summary: "POST /company/v1/global/profile/files"
      operationId: "company_post_company_v1_global_profile_files"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/profile/files/{filename}":
    delete:
      tags: ["Company"]
      summary: "DELETE /company/v1/global/profile/files/:filename"
      operationId: "company_delete_company_v1_global_profile_files_filename"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "filename"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/profile/files/{filename}/download":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/profile/files/:filename/download"
      operationId: "company_get_company_v1_global_profile_files_filename_download"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "filename"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/profile/location":
    put:
      tags: ["Company"]
      summary: "PUT /company/v1/global/profile/location"
      operationId: "company_put_company_v1_global_profile_location"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/profile/media":
    put:
      tags: ["Company"]
      summary: "PUT /company/v1/global/profile/media"
      operationId: "company_put_company_v1_global_profile_media"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/profile/rebuild-search-filters":
    post:
      tags: ["Company"]
      summary: "POST /company/v1/global/profile/rebuild-search-filters"
      operationId: "company_post_company_v1_global_profile_rebuild_search_filters"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/question-library":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/question-library"
      operationId: "company_get_company_v1_global_question_library"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    post:
      tags: ["Company"]
      summary: "POST /company/v1/global/question-library"
      operationId: "company_post_company_v1_global_question_library"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/question-library/{questionId}":
    delete:
      tags: ["Company"]
      summary: "DELETE /company/v1/global/question-library/:questionId"
      operationId: "company_delete_company_v1_global_question_library_questionid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "questionId"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    patch:
      tags: ["Company"]
      summary: "PATCH /company/v1/global/question-library/:questionId"
      operationId: "company_patch_company_v1_global_question_library_questionid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "questionId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/subscription":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/subscription"
      operationId: "company_get_company_v1_global_subscription"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/subscription/billing-summary":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/subscription/billing-summary"
      operationId: "company_get_company_v1_global_subscription_billing_summary"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/subscription/current":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/subscription/current"
      operationId: "company_get_company_v1_global_subscription_current"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/subscription/invoices":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/subscription/invoices"
      operationId: "company_get_company_v1_global_subscription_invoices"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/subscription/invoices/{invoiceId}":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/subscription/invoices/:invoiceId"
      operationId: "company_get_company_v1_global_subscription_invoices_invoiceid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "invoiceId"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/subscription/request":
    post:
      tags: ["Company"]
      summary: "POST /company/v1/global/subscription/request"
      operationId: "company_post_company_v1_global_subscription_request"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/support-tickets":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/support-tickets"
      operationId: "company_get_company_v1_global_support_tickets"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
    post:
      tags: ["Company"]
      summary: "POST /company/v1/global/support-tickets"
      operationId: "company_post_company_v1_global_support_tickets"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/support-tickets/{ticketId}":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/global/support-tickets/:ticketId"
      operationId: "company_get_company_v1_global_support_tickets_ticketid"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "ticketId"
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/global/support-tickets/{ticketId}/messages":
    post:
      tags: ["Company"]
      summary: "POST /company/v1/global/support-tickets/:ticketId/messages"
      operationId: "company_post_company_v1_global_support_tickets_ticketid_messages"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      parameters:
        - name: "ticketId"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/helper/cities":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/helper/cities"
      operationId: "company_get_company_v1_helper_cities"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/helper/currencies":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/helper/currencies"
      operationId: "company_get_company_v1_helper_currencies"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/helper/education-level":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/helper/education-level"
      operationId: "company_get_company_v1_helper_education_level"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/helper/experience-level":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/helper/experience-level"
      operationId: "company_get_company_v1_helper_experience_level"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/helper/industry":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/helper/industry"
      operationId: "company_get_company_v1_helper_industry"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
        "403":
          description: Forbidden
  "/company/v1/helper/job-name":
    get:
      tags: ["Company"]
      summary: "GET /company/v1/helper/job-name"
      operationId: "company_get_company_v1_helper_job_name"
      description: "Generated route skeleton. Fill request/response schema and business rules before launch documentation is considered complete."
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
        "400":
          description: Validation or request error
        "401":
          description: Missing or invalid token
[...]
